.createExam {
	max-width: 780px;
	margin-inline: auto;
	margin-block: 0;
}

.createExamTitle {
}

.createExamForm {
	width: 100%;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.createExamSwitch {
	display: flex;
	gap: 8px;
	margin-bottom: 8px;
}

.createExamSwitch span {
	cursor: pointer;
}
